<form class="input-group" method="get" asp-action="Search" asp-controller="HangHoa">
    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" name="query">
    <button class="input-group-text">
        <span id="search-icon-1" class="p-3"><i class="fa fa-search"></i></span>
    </button>
</form>